.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

/*BANNER SECTION*/

.banner {
  height: auto;
}
.banner-container {
  height: 100%;
}
.banner-container .grid {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
.banner-text {
  padding: 30px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-text h2 {
  font-size: 4rem;
  font-weight: 400;
}
.banner-text p {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 20px;
}
.grid {
  height: 100%;
}
.grid img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

/*CLIENTS*/
.clients {
  background-color: var(--primary-color);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.client-items {
  width: 100%;
}
.client-items h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 3.75rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;

  width: 100%;
  list-style: none;
}
.client-list img {
  width: 100px;
}

/*commercial*/
.commercial {
  background-color: var(--primary-color);
  height: 200vh;
  color: white;
  width: 100%;
}
.commercial-container {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commercial .grid {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commercial-text-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  gap: 30px;

  height: 50%;
}
.commercial-container div:nth-child(2) {
  display: flex;
  justify-content: center;
  height: auto;

  align-items: flex-start;
}
.commercial-container iframe {
  margin: 30px;
}
.commercial-text {
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 50px;
  width: 100%;
}
.commercial-text h3 {
  font-size: 1.5rem;
}
.commercial-text h5 {
  font-size: 2.5rem;
  font-weight: bold;
}
.commercial p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
}

.commercial button {
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
}
/*STORY*/
.story-container {
  padding: 50px;
  margin: 0 auto;
  background-color: white;
}
.box-button {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.box-button button {
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}
.grid-2 img {
  width: 100%;
  height: 100%;
}
.box-first {
  margin: 30px 0px;
}
.box-first img {
  grid-template-columns: 1fr;
  width: 100%;
}
.box-last {
  height: 300px;

  grid-template-columns: 1fr;
  margin: 30px 0px;
}

@media only screen and (min-width: 850px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .commercial-container {
    flex-direction: row;
    height: 150vh;
  }
  .commercial-container div:nth-child(2) {
    align-items: center;
    height: 100%;
  }
  .client-list img {
    width: 150px;
  }
  .commercial-container iframe {
    width: 80%;
  }
}
